@import 'libs/normalize.scss';
@import 'libs/fonts.scss';

@import 'base/animations';
@import 'base/mixins';
@import 'base/variables';

*{
    box-sizing: border-box;
}

html {
    font-family: 'Ruberoid', sans-serif;
}

body {
    background: #000;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
}

@media (max-width: 1400px) {
    .container {
        padding: 0 25px;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 0 15px;
    }
}

@import 'blocks/overlay';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/packs';
@import 'blocks/pack';
@import 'blocks/whitepapers';
@import 'blocks/history';
@import 'blocks/road-map';
@import 'blocks/footer';

@import 'media/header';
@import 'media/button';
@import 'media/promo';
@import 'media/title';
@import 'media/pack';
@import 'media/packs';