.packs {
    padding: 145px 0 240px;
    background: url(../img/packs_bgr.jpg) center (center/cover) no-repeat;
    &__wrapper {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
}