@media (max-width: 1200px) {
    .history {
        &__img {
            margin-left: -50px;
        }
    }
}

@media (max-width: 768px) {
    .history {
        padding-top: 100px;
        &__img {
            display: none;
        }
    }
}