@media (max-width: 992px) {
    .pack {
        width: auto;
        margin: 40px 0 0; 
        &:first-of-type {
            margin: 0;
        } 
    }
}

@media (max-width: 576px) {
    .pack {
        padding: 40px 20px 0;
        &__name {
            margin: 25px 0 0;
            font-size: 28px;
        }  
        &__line {
            margin: 15px 0 0;
        } 
        &__text {
            margin-top: 20px;
            font-size: 18px;
            line-height: 18px;
        }
        &__footer {
            align-items: center;
        }
        &__price {
            font-size: 16px;
            line-height: 16px;
        }
    }
}