@media (max-width: 768px) {
    .promo {
        &__subtitle {
            font-size: 20px;
            line-height: 24px;
        }
        &__arrow {
            margin-top: 100px;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        &__logo {
            width: 150px;
            height: 110px;
        }
        &__line {
            margin-top: 40px;
        }
        &__subtitle {
            margin-top: 20px;
        }
        &__arrow {
            margin-top: 60px;
        }
    }
}
