@media (max-width: 1200px) {
    .road-map {
        &__item {
            padding-left: 30px;
        }
        &__char {
            display: none;
        }
    }
}

@media (max-width: 992px) {
    .road-map {
        &__line {
            height: 105%;
            width: auto;
            border-bottom: none;
            border-left: 1px dashed #fff;
            margin-left: 35px;
        }
        &__wrapper {
            padding-left: 20%;
        }
        &__inner {
            grid-template-columns: 1fr;
            grid-template-areas:
                "q1"
                "q2"
                "q3"
                "q4";
        }
        &__item {
            padding-left: 85px;
            .circle__wrapper {
                bottom: auto;
                left: 30px;
                top: -30px;
                transform: translateX(-35%) rotate(90deg); 
            }
            &:nth-child(3), &:nth-child(4) {
                .circle__wrapper {
                    top: -30px;
                    &::before {
                        top: -40px;
                        bottom: auto;  
                    } 
                }  
            }
        }
    }
}

@media (max-width: 768px) {
    .road-map {
        &__footer {
            margin-top: 100px;
        }
    }
}

@media (max-width: 576px) {
    .road-map {
        &__wrapper {
            padding: 0;
        }
        &__social-item {
            margin: 0 10px;
        }
    }
}